p Dear Client

p Your task 
  strong 
    a(href=website + '/task/' + taskId) #{taskName}
  |  was completed. Please login to our website 
  a(href=website) #{website}
  |  to check the result.

include ../signature.pug