p Dear Client

p The job 
  strong #{jobName}
  |  was created. And we will proceed it shortly.

p In the mean time, you can log into 
  a(href=website) #{website}
  |  to modify it and check the latest update at any time.

include ../signature.pug