p Dear #{toWhom}

p Your account has been deleted from AUAO Accounting platform. Your access has been removed for all portfolios.

p Please 
  a(href=website + '/signin') sign in
  |  if you need again.

include ../signature.pug