p Dear Client

p Your email has been deleted as a use in AUAO Accounting platform successfully. Your access has been removed for all portfolios.

p Please 
  a(href=website + '/signin') Sign In
  |  if you need again.

include ../signature.pug