p Dear Client

p Welcome to our AUAO Accounting Platform, your user name is 
  strong #{email}
  | .
p An email notification will let you know when there are new activities for your accounting and tax tasks.
p 
  a(href=wetsite + '/terms_and_conditions') Here
  |  is the term and condition for your copy which has been confirmed when you register your account.

include ../signature.pug
