p Dear Client

p Thank you very much for signing up AU Accounting Office!

p Your account is 
  strong #{email}
  |  You can access our website 
  a(href=website) #{website}
  |  to create and view your jobs at anytime.

include ../signature.pug